body {
    background-color: #123456;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#start {
    font-size: 100%;
}

#start-button {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 96px;
    width: 80%;
    border-radius: 80px;
}

#numpad {
    width: 99%;
    position: absolute;
    bottom: 2%;
    max-height: 60px;
}

.number {
    width: 8%;
    font-size: 48px;
}