body {
    background-color: #123456;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#start {
    font-size: 96px;
}

#start-button {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 96px;
    width: 80%;
    border-radius: 80px;
}